/*------------------------
----Accordion Scss
------------------------*/

@import '/src/variables';

.accord {

    background-color:$white;
    border-radius:$border-radius;
    padding:$padding-md $padding-lg;
    margin-bottom:$margin-md;
    border:8px solid $border-color;

    .accord__header {
        position:relative;

        &:hover {
            cursor: pointer;
        }

        .icon {
            display: flex;
            margin-left:auto;
            position: absolute;
            top:10px;
            right:10px;
            transition:ease 0.5s transform;
        }

        h5, p {
            margin:0.5rem 0 0.75rem 0;
            padding:0;
        }

        h5 {
            font-size:1.25rem;
            font-weight:700;
            font-style: italic;
        }

    }

    .accord__content {
        height:0;
        overflow:hidden;
        transition:ease 0.5s height;
    }

}