<div class="accord">
    <div #accordHeader (click)="toggle(beer)" class="accord__header">
      <h5>{{beer['name']}}</h5>
      <p>{{beer['tagline']}}</p>
      <span class="icon" #accordNav>▼</span>
    </div>
    <div #accordBody class="accord__content">
      {{beer['description']}}
      <h4>
        Ingredients
      </h4>
      <ul>
        <li *ngFor="let ing of ingredients">{{ing['name'] | uppercase}}
          <ul>
            <li>{{ing['value']}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>